/* -------------------------------------------------------------------------- */
/*                                Global Style                                */
/* -------------------------------------------------------------------------- */
a {
  text-decoration: none;
}

/* -------------------------------- Variables ------------------------------- */
:root {
  --sample: none;
}

@media screen and (min-width: 576px) {
  .container {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 525px;
  }
}

@media screen and (min-width: 990px) {
  .container {
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 825px;
  }
}

