/* -------------------------------------------------------------------------- */
/*                                Global Style                                */
/* -------------------------------------------------------------------------- */
*:not(input)::selection {
  color: rgb(64, 61, 124);
  color: white;
  background-color: rgb(112, 148, 223);
}

a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(90deg, white -50%, var(--main-color));
  min-height: 100vh;
}

/* -------------------------------- Variables ------------------------------- */
:root {
  /* Fonts */
  --lato: "Lato", sans-serif;

  /* Colors */
  --main-color: rgb(119, 119, 180);
  --secondary-color: rgb(93, 89, 162);

  /* Bootstrap */
  --bs-box-shadow: 0rem 0rem 2.5rem rgb(0, 0, 0, 0.5);
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.container {
  position: relative;
  width: 400px;
  height: 500px;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) -10%,
    rgb(124, 127, 183)
  );
}
#sign-up .container {
  height: 600px;
}

/* ---------------------------------- Cover --------------------------------- */
.container .cover {
  position: absolute;
  top: -15%;
  left: 55%;
  width: 200px;
  transform: scale(3) rotate(45deg);
}
#sign-up .container .cover {
  top: 0%;
  transform: scale(3.3) rotate(45deg);
}

.container .cover > .row div {
  height: 200px;
}
.container .cover > .row div.white {
  background-color: white;
  position: relative;
  z-index: 2;
}
.container .cover > .row div.purple {
  background-color: var(--secondary-color);
  position: relative;
  z-index: 1;
}
.container .cover > .row div.purple:nth-of-type(2) {
  transform: translate(6px, 50%);
}

.container .cover > .row div.light-purple {
  height: 130px;
  width: 70px;
  background-color: rgb(125, 125, 184);

  transform: translate(12px, -20%);
}

/* --------------------------------- Header --------------------------------- */
header {
  font-family: var(--lato);
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 69.1%,
    white 69.1% /* 90deg,
    var(--secondary-color) 70%,
    white 80% */
  );
  background-clip: text;
}
#sign-up header {
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 48%,
    white 48%
  );
}

/* ---------------------------------- Input --------------------------------- */
.input {
  display: inline-block;
  color: var(--main-color);
  background-color: transparent;
  position: relative;
}
.input::after {
  content: "";
  width: 105%;
  height: 1px;
  background-color: rgb(210, 210, 210);

  position: absolute;
  bottom: 0;
  left: 1%;

  transition: all ease-out 250ms;
}
.input:hover::after,
.input.focused::after {
  background-color: black;
}

.input input {
  font-family: var(--lato);
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.7;
  width: 180px;

  background-color: inherit;
  border: 0;
  outline: 0;

  transition: all 200ms ease-out;
}
input::placeholder {
  color: var(--third-color);
  opacity: 0.8;
}
input:focus {
  outline-color: rgb(123, 178, 187);
}

/* ------------------------------ Error Message ----------------------------- */
span#errMSG {
  font-family: var(--lato);
  font-size: 15px;
  color: rgba(255, 93, 93, 0.85);
}

/* --------------------------------- Button --------------------------------- */
button.btn {
  width: 90%;
  font-family: var(--lato);
  font-weight: 700;
  color: var(--main-color);

  border: 0.5px var(--main-color) solid;
  border-bottom-width: 2.5px;
  outline: 1px transparent solid;
  box-shadow: 5px 5px 10px var(--secondary-color);

  transition: all 200ms ease-out;
}
button.btn:hover,
:not(.btn-check) + .btn:active {
  color: var(--main-color);
  border-color: var(--main-color);
  outline: 1px var(--main-color) solid;
}

/* -------------------------- Account Notification -------------------------- */
.account-notification {
  font-family: var(--lato);
}

.account-notification span {
  color: transparent;
  background-image: linear-gradient(
    315deg,
    white 91%,
    var(--secondary-color) 91%
      /* 90deg,
    var(--secondary-color) 1%,
    white 10% */
  );
  background-clip: text;
}
#sign-up .account-notification span {
  background-image: linear-gradient(
    315deg,
    white 90%,
    var(--secondary-color) 90%
  );
}

.account-notification a {
  color: white;
}
.account-notification a:hover {
  text-decoration: underline;
}
